/* Variables */

:root {
    --bg-color-header-top-footer-bottom: #2C3E50;
    --bg-color-header-bottom: #1ABC9C;
    --bg-color-footer-top: #3A546D;

}

header {
    background-color: var(--bg-color-header-top-footer-bottom);
}

.hero {
    background-color: var(--bg-color-header-bottom);
}

.about {

    background-color: var(--bg-color-header-bottom);


}

.footer_top {
    background-color: var(--bg-color-footer-top);
}

.footer_bottom {
    background-color: var(--bg-color-header-top-footer-bottom);
}


.px_1 {
    padding: 0.12rem 0;
}

#star {
     font-size: xx-large;
     margin: 1.5rem 1rem 1rem 1rem;
}

.btn_form {
    background-color: var(--bg-color-header-bottom);
}

.bb_black {
    border-bottom: 1px solid grey !important;
}

#icons_circle {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 50%;
    
}
